<html xmlns="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headResources}"></div>
    <title>Generi</title>
  </head>
  <body>
    <header>
      <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main class="container">
      <section>
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="my-4">Elenco dei Generi</h1>

          <button
            th:onclick="'location.href=\'/genres/create\''"
            class="btn btn-success"
            sec:authorize="hasAuthority('ADMIN')"
          >
            Crea un nuovo Genere
          </button>
        </div>
        <table class="table" th:if="${genres.size() > 0}">
          <thead class="text-uppercase align-middle">
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th sec:authorize="hasAuthority('ADMIN')"></th>
              <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <tr
              th:each="genre : ${genres}"
              th:object="${genre}"
              class="align-middle"
            >
              <td th:text="*{id}"></td>
              <td th:text="*{name}"></td>
              <td sec:authorize="hasAuthority('ADMIN')">
                <a
                  th:href="@{/genres/edit/{id}(id=${genre.id})}"
                  class="btn btn-warning btn-sm"
                  >Modifica</a
                >
              </td>
              <td sec:authorize="hasAuthority('ADMIN')">
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="modal"
                  th:data-bs-target="'#deleteModal' + ${genre.id}"
                >
                  Elimina
                </button>
                <!-- Modale Bootstrap -->
                <div
                  class="modal fade"
                  th:id="'deleteModal' + ${genre.id}"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">
                          Conferma Eliminazione
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Sei sicuro di voler eliminare questo genere:
                        <strong th:text="${genre.name}"></strong>?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Chiudi
                        </button>
                        <form
                          th:action="@{/genres/delete/{id}(id=${genre.id})}"
                          method="post"
                        >
                          <button type="submit" class="btn btn-danger">
                            Elimina
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <div th:replace="~{fragments/resources :: scriptsResources}"></div>
  </body>
</html>
