<html xmlns="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/resources :: headResources}"></div>
    <title th:text="${book.title}"></title>
  </head>
  <body>
    <header>
      <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main class="container">
      <h5 class="my-4">
        <a
          th:href="@{/books}"
          class="link-secondary fst-italic text-decoration-none"
          >Libri</a
        ><span class="fst-italic text-secondary">/</span
        ><a
          th:href="@{/books/{id}(id=${book.id})}"
          th:text="${book.title}"
          class="fst-italic link-secondary text-decoration-none active fw-bold"
        ></a>
      </h5>
      <div th:if="${book != null}">
        <h2 th:text="${book.title}"></h2>
        <p><strong>Autore:</strong> <span th:text="${book.author}"></span></p>
        <div th:object="${book}">
          <img th:src="@{'/images/' + *{image}}" th:alt="*{title}" />
        </div>
        <p>
          <strong>Descrizione:</strong>
          <span th:text="${book.description}"></span>
        </p>
      </div>
      <div th:unless="${book != null}">
        <p>Libro non trovato.</p>
      </div>
    </main>
    <div th:replace="~{fragments/resources :: scriptsResources}"></div>
  </body>
</html>
